<div class="main-container">
  <h1 class="slogan">Cultivando el Futuro de tus Granjas</h1>
  <div class="overlay-text">AnimalFarm360</div>
  <p class="description">AnimalFarm360 es una plataforma integral de gestión de granjas de animales, diseñada para mejorar el bienestar animal, aumentar la eficiencia operativa y promover la sostenibilidad económica de las operaciones ganaderas mediante el uso de tecnologías avanzadas como IoT y análisis de datos.</p>
  <div class="image-placeholder">
    <%= image_tag 'granja2.jpg', alt: 'Imagen de la granja' %>
  </div>
  <a href="<%= new_user_session_path %>" class="btn">Vamos a tu granja</a>
  <% if user_signed_in? %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn" %>
  <% end %>
</div>
